In [ ]:
#  use of for loop when we know how many times the loop should run ,mainly we use it for conditional statement

In [1]:
for i in range(50):
    if i%5 ==0 :
        print(i)

0
5
10
15
20
25
30
35
40
45

In [ ]:
# while loops to run the same task multiple times untill it stpped by any conditional statement.

In [2]:
i=0
even_sum=0
odd_sum=0
while(i<=5):
    
    if(i%2==0):
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
       
   
        
    i=i+1
print('even sum is ',even_sum)
print('odd sum is ', odd_sum)

even sum is  6
odd sum is  9

In [3]:
# for loop
l = [1,2,3,4,5,6,7,8,9,10]
Sum = 0
product = 1

for i in l:
    Sum = Sum + i
    product = product * i
    i = i +1

print('the sum of 10 natural no is ', Sum)
print('the product of 10 natural number is ', product)

the sum of 10 natural no is  55
the product of 10 natural number is  3628800

In [4]:
#while loop
n = 1
Sum = 0
product = 1

while n <= 10:
    Sum = Sum + n
    product = product * n
    n = n + 1
print('the sum of 10 natural no is ' , Sum)
print('the product of 10 natural number is ' , product)

the sum of 10 natural no is  55
the product of 10 natural number is  3628800

In [5]:
unit = int(input("Enter your unit: "))
if unit <= 100:
    bill = unit * 4.5
elif unit >=101 and unit <=200:
    bill = 450 + ((unit - 100)*6)
elif unit>=201 and unit <= 300:
    bill = 1050 +((unit-200)*10)
else:
    bill = 2050 + ((unit-300) *20)
print("Bill Per Unit:",bill)

Enter your unit:  310

Bill Per Unit: 2250

In [6]:
#for loop
l=list(range(1,101))
cube =[]

for i in l:
    i = i**3
    if i%4 == 0 or i%5 ==0:
        cube.append(i)
print( 'cube i.e divisible by 4 or 5 ' ,cube)

cube i.e divisible by 4 or 5  [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [ ]:
# while loop

In [8]:
#while loop
n=1
cube=[]
while n<=100:
    if n**3 %4 ==0 or n**3 %5 ==0:
        print(n**3)
    cube.append(n**3)
    n= n+1
print( 'cube i.e divisible by 4 or 5 ' ,cube)

8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000
cube i.e divisible by 4 or 5  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [9]:
def Check_Vow(string, vowels):
    final = [each for each in string if each in vowels]
    print(len(final))
    print(final)


string = "i want to become a data scientist"
vowels = "AaEeIiOoUu"
Check_Vow(string, vowels);

12
['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']