WAP to accept percentage from the user and display the grade according to the following crieteria.

In [1]:
mark = int(input("Enter the marks  "))

if mark > 90 :
    print(" Grade A ")
elif mark > 80 and mark <= 90:
    print(" Grade B ")
elif mark >= 60 and mark <= 80:
    print(" Grade C ")
else :
    print(" Grade D ")

Enter the marks   59

 Grade D

WAP to accept the cost price of a bikeand display the road tax to bepaid according to the following crieteria:

In [2]:
price = int(input("Enter the price of the bike  "))
if price > 100000:
    print('Tax will be 15%' )
    print( (price*15)/100, 'wiil be paid as tax')
elif price > 50000 and price <= 100000:
    print('Tax will be 10%' )
    print( (price*10)/100, 'wiil be paid as tax')
else :
    print('Tax will be 5%' )
    print( (price*5)/100, 'wiil be paid as tax')

Enter the price of the bike   120000

Tax will be 15%
18000.0 wiil be paid as tax

Accept any city from the user and display monument of that city.

In [3]:
city = input("enter city name")

if city.upper() == "DELHI":
    print(" monument is RED FORT ")
elif city.upper() == "AGRA":
    print(" monument is TAJ MAHAL ")
elif city.upper() == "JAIPUR":
    print(" monument is JAI MAHAL ")
else:
    print('monument not found')

enter city name delhi

 monument is RED FORT

Check how many tme a given number can be divided by 3 before it is less then or equal to 10

In [4]:
number = int(input('Enter the number'))

print(int(number/3) ,' times the number can be divided by 3 before it is less than or equal to 10')

Enter the number 348

116  times the number can be divided by 3 before it is less than or equal to 10

why and when to use While loop in python give a detailed description with example

In Python, while loop is used to run a block code until a certain condition is met.

In [5]:
##Python while Loop
i = 1
n = 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [1]:
n = int(input("enter your limit"))
starting_point = 0
counter = 1

while counter <= n:
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

enter your limit 8

36

In [2]:
number = int(input('enter your number'))
fact = 1

while number > 0:
    fact = fact * number
    number = number - 1
fact

enter your number 10

3628800

use nested while loop to print 3 different pattern

In [1]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
n=5
i,j=1,0
while(i<=n):
    while(j<=i-1):
        print("* ",end="")
        j=j+1
    print("\r")
    j=0; i = i + 1

*
* *
* * *
* * * *
* * * * *

In [3]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  5

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15

reverse a while loop  to display  number from 10 t0 1

In [4]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
reverse a while loop to display number from 10 to 1

In [ ]:
x = 10 
while x<=10: 
	print(x) 
	x-=1 
	if x == 0: 
        break