In [1]:
list3 = [('Sachin Tendulkar',34357),('Ricky Ponting', 27483),('Jack Kallis',25534),('Virat Kohli',24936)]
sort = sorted(list3 , key = lambda x : x[1])
print(sort)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [14]:
lst = [1,2,3,4,5,6,7,8,9,10]
l2 = list(map(lambda x : x**2 , lst))

print('the output is: ', l2)

the output is:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
l1 = tuple(map(lambda x : str(x), lst1))

print('the out put is: ', str(l1))

the out put is:  ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [5]:
from functools import reduce
l = list(range(1,26))

print('the list is: ', l)
product = reduce(lambda x,y :x*y ,l)

print('the product is ', product)

the list is:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
the product is  15511210043330985984000000

In [6]:
l3= [2,3,6,9,27,60,90,120,55,46]
list_1 = list(filter(lambda x : x%2 == 0 and x%3 == 0,l3))
print('no divisible by 2 and 3' , list_1)

no divisible by 2 and 3 [6, 60, 90, 120]

In [7]:
list_2 = ['python','php','aba','radar','level']
list2 = list(filter(lambda x : x[::-1] == x[::], list_2))
print('the palindrom is ' ,list2)

the palindrom is  ['php', 'aba', 'radar', 'level']